@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
.background{
    height: 100%;
    width: 100%;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
}
.logo{
    width: 200px;
    height: 150px;
}
Form{
    margin-left: 26%;
    margin-right: 22%;
}
.navbar span{
    border: 0;
    border-radius: 0;
    font-family: 'Yatra One', cursive;
    background-color: transparent;
    color: white;
    border-radius: 20px;
    width: 250px;
    letter-spacing: 3px;
    font-size: 4em;
}

.stats h2{
    margin-right: 10%;
    margin-bottom: 2%;
    color: rgb(181, 176, 176);
}
.stats h2 span{
    font-weight:450;
    font-size: 15px;
    text-align: right;
    line-height: 1px;
}
.stats h2:hover{
    color: aliceblue;
}
.caption {
    color: #e5e5e5;
    font-size: 2rem;
    text-transform: uppercase;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}
.caption h1{
    font-size: 3em;
}
.first, .second, .third{
    font-size: 3em;
}
.animation {
    height:150px;
    overflow:hidden;
    margin-left: 1rem;
    text-align: center;
}

.animation > div > div {
    padding: 0.25rem 0.75rem;
    height:3rem;
    margin-bottom: 2.81rem;
    display:inline-block;
}

.animation div:first-child {
    animation: text-animation 15s infinite;
}
@keyframes text-animation {
    0% {margin-top: 0;}
    10% {margin-top: 0;}
    20% {margin-top: -8rem;}
    30% {margin-top: -8rem;}
    40% {margin-top: -18rem;}
    60% {margin-top: -18rem;}
    70% {margin-top: -8rem;}
    80% {margin-top: -8rem;}
    90% {margin-top: 0;}
    100% {margin-top: 0;}
}